
<header class="bg-purple-700 flex fixed top-0 left-0 right-0 p-4">
  <div class="font-bold text-white text-xl">Awesome Components</div>
  <nav class="ml-auto mt-[5px]">
    <a class="font-bold text-white" href="" routerLink="social-media">Social Media</a>
    <a class="ml-2 font-bold text-white" href="" routerLink="auth/login">Login</a>
    <a class="ml-2 font-bold text-white" href="" routerLink="auth/register">Create account</a>
    <a class="ml-2 font-bold text-white" href="">State management</a>
  </nav>
</header>
